
/* Variables */
:root {
    --primary-color: #2196f3;
}


/* Reset */
html, body, h1, h2, h3, p, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: var(--primary-color);
}